<table>
  <tr>
    <td class="m-3 p-3">
      <a routerLink="/module-task" appDir>Module Task</a><br />
    </td>

    <td class="m-3 p-3">
      <a routerLink="/web-api">Web Api</a>
    </td>
    <td class="m-3 p-3">
      <a routerLink="/login" appDir>Auth Guard</a>
    </td>
    <td class="m-3 p-3">
      <a routerLink="/mat-table" >Mat DataTable</a>
    </td>
    <td class="m-3 p-3">
      <a routerLink="/foreach" appDir>For Each</a>
    </td>
    <td class="m-3 p-3">
      <a routerLink="/parent">Parent</a>
    </td>
    <td class="m-3 p-3">
      <a routerLink="/pipe" appDir>Pipe</a>
    </td>
    <td class="m-3 p-3">
      <a routerLink="/search" appDir>Searching Rxjs</a>
    </td>
  </tr>
</table>
<router-outlet></router-outlet>
