

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="../app.component.html">Angular Task</a>
  
    <a routerLink="/module-task" class="mr-sm-2" appDir>Module Task</a>
    <a routerLink="/web-api" class="mr-sm-2">Web Api</a>
    <a routerLink="/login" class="mr-sm-2" appDir>Auth Guard</a>
    <a routerLink="/mat-table" class="mr-sm-2" >Mat DataTable</a>
    <a routerLink="/foreach" class="mr-sm-2" appDir>For Each</a>
    <a routerLink="/parent" class="mr-sm-2">Parent</a>
    <a routerLink="/pipe" class="mr-sm-2" appDir>Pipe</a>
    <a routerLink="/theme" class="mr-sm-2" appDir>Theme</a>
    <a routerLink="/datatable" class="mr-sm-2" appDir>Datatable</a>
    <a routerLink="/search" class="mr-sm-2" appDir>Searching Rxjs</a>
    <a routerLink="/timer" class="mr-sm-2" appDir>LifeCycle</a>
    
    
  
</nav>
<table>
  <tr>
    <td class="m-3 p-3">
    </td>

    <td class="m-3 p-3">
    </td>
    <td class="m-3 p-3">
    </td>
    <td class="m-3 p-3">
    </td>
    <td class="m-3 p-3">
    </td>
    <td class="m-3 p-3">
    </td>
    <td class="m-3 p-3">
    </td>
    <td class="m-3 p-3">
    </td>
    <td class="m-3 p-3">
    </td>
    <!-- <td class="m-3 p-3">
    </td> -->
  </tr>
</table>
<router-outlet></router-outlet>
